.m-editor {
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.m-editor .code-editor {
    width: 80vw;
    max-width: 500px;
    margin: 50px auto 0;
    height: 300px;
    border: 1px solid gray;
    border-radius: 5px;
    background: #eee;
}

.m-editor button {
    width: 80px;
}

.m-editor .actions {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}


.actions .action {
    margin-right: 10px;
}
